[Unit]
Description=Skewed Emacs + Gendl Containerized Development Environment
Documentation=https://github.com/gornskew/skewed-emacs
After=docker.service network-online.target
Requires=docker.service
Wants=network-online.target

[Service]
Type=simple
RemainAfterExit=no
User=%%USER%%
Group=docker
WorkingDirectory=/home/%%USER%%/projects/skewed-emacs
Environment=HOME=/home/%%USER%%

ExecStartPre=/home/%%USER%%/projects/skewed-emacs/compose-dev init
ExecStart=/home/%%USER%%/projects/skewed-emacs/compose-dev up -d
ExecStop=/home/%%USER%%/projects/skewed-emacs/compose-dev down
ExecReload=/home/%%USER%%/projects/skewed-emacs/compose-dev restart

TimeoutStartSec=420
TimeoutStopSec=120

Restart=on-failure
RestartSec=10s

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
